{% extends "pagos/pagos.html" %}

{% block title %}
Lista de Pagos
{% endblock %}

{% block pagos_content %}
<section>
  <h2 class="mb-3 text-center list-header">Lista de Pagos</h2>
    <form method="get" class="mb-3">
        <div class="row">
            <div class="col-md-8">
                 <select name="tramite" id="tramite" class="form-select">
                    <option value="">Todos los trámites</option>
                    {% for tramite in tramites %}
                        <option value="{{ tramite.tramite_id }}" {% if tramite.tramite_id|stringformat:"s" == tramite_id %}selected{% endif %}>
                            {{ tramite.nombre }} (Proyecto: {{ tramite.proyecto.nombre }})
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-end">
                <button type="submit" class="btn btn-primary w-100 btn-filtrar-tramites">Filtrar</button>
            </div>
        </div>
    </form>

  <div class="table-responsive">
    <table class="table table-striped table-bordered align-middle">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Monto</th>
          <th>Fecha</th>
          <th>Método de Pago</th>
          <th>Trámite</th>
          <th>Comprobante</th>
          <th>Naturaleza</th>
          <th>Notas</th>
          <th>Es gasto</th>
          <th>IVA</th>
          <th>Tarifa</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for pago in pagos %}
        <tr>
          <td>{{ pago.pago_id }}</td>
          <td class="monetario">${{ pago.monto }}</td>
          <td>{{ pago.fecha|date:"d/m/Y" }}</td>
          <td>
            {% if pago.metodo_pago == '1' %}
                Efectivo
            {% elif pago.metodo_pago == '2' %}
                Transferencia
            {% elif pago.metodo_pago == '3' %}
                Tarjeta Crédito
            {% elif pago.metodo_pago == '4' %}
                Tarjeta Débito
            {% elif pago.metodo_pago == '5' %}
                Cheque
            {% else %}
                Desconocido
            {% endif %}
        </td>
          <td>
            {% if pago.proyecto %}
            Proyecto: {{ pago.proyecto.nombre }}
            {% elif pago.tramite %}
            Trámite: {{ pago.tramite.nombre }}
            {% else %}
            N/A
            {% endif %}
          </td>
          <td>
            {% if pago.comprobante %}
            <a href="{{ pago.comprobante.url }}" target="_blank">Ver comprobante</a>
            {% else %}
            No adjunto
            {% endif %}
          </td>
          <td> 
            {{pago.get_naturaleza_display}}
          </td>
          <td>{{ pago.notas|default:"-" }}</td>
          <td>
            {% if pago.es_gasto == 1 %}
                ✅ Es gasto
            {% elif pago.es_gasto == 0 %}
                ❌ No es gasto
            {% endif %}
          </td>
          <td>
            {% if pago.IVA == 1 %}
                ✅
            {% elif pago.IVA == 0 %}
                ❌
            {% endif %}
          </td>
          <td> 
            {{pago.tarifa }}
          </td>
          <td class="d-flex justify-content-center align-items-center gap-1" height="100">
            <button class="btn btn-primary btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#editarPagoModal"
              data-id="{{ pago.pago_id }}"
              data-monto="{{ pago.monto }}"
              data-fecha="{{ pago.fecha }}"
              data-metodo_pago="{{ pago.metodo_pago }}"
              data-notas="{{ pago.notas|default:'' }}"
              data-naturaleza="{{ pago.naturaleza }}"
              data-tarifa="{{ pago.tarifa }}"
              data-iva="{{ pago.IVA }}"
              data-es-gasto="{{ pago.es_gasto }}">
              Editar
            </button>
            <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modalEliminar" data-pago-id="{{ pago.pago_id }}">
                🗑️
            </button>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="8" class="text-center">No hay pagos registrados.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

    <!-- Paginación -->
    <nav aria-label="Paginación de pagos" class="paginacion-tabla">
    <ul class="pagination justify-content-center">
        {% if pagos.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1{% if tramite_id %}&tramite={{ tramite_id }}{% endif %}">« Primero</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ pagos.previous_page_number }}{% if tramite_id %}&tramite={{ tramite_id }}{% endif %}">‹ Anterior</a>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">« Primero</span></li>
        <li class="page-item disabled"><span class="page-link">‹ Anterior</span></li>
        {% endif %}

        <li class="page-item active"><span class="page-link">{{ pagos.number }}</span></li>

        {% if pagos.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ pagos.next_page_number }}{% if tramite_id %}&tramite={{ tramite_id }}{% endif %}">Siguiente ›</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ pagos.paginator.num_pages }}{% if tramite_id %}&tramite={{ tramite_id }}{% endif %}">Último »</a>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Siguiente ›</span></li>
        <li class="page-item disabled"><span class="page-link">Último »</span></li>
        {% endif %}
    </ul>
</nav>

</section>

<!-- Modal Editar Pago -->
<div class="modal fade" id="editarPagoModal" tabindex="-1" aria-labelledby="editarPagoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-container-form">
      <form method="post" action="{% url 'editar_pago' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="editarPagoLabel">Editar Pago</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="pago_id" id="editarPagoId">
          <div class="mb-3">
            <label class="form-label">Monto</label>
            <input type="number" class="form-control" name="monto" id="editarMonto" step="0.01" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Fecha</label>
            <input type="date" class="form-control" name="fecha" id="editarFecha" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Método de pago</label>
            <select class="form-select" name="metodo_pago" id="editarMetodoPago" required>
                <option value="1" {% if pago.metodo_pago == 1 %}selected{% endif %}>Efectivo</option>
                <option value="2" {% if pago.metodo_pago == 2 %}selected{% endif %}>Transferencia</option>
                <option value="3" {% if pago.metodo_pago == 3 %}selected{% endif %}>Tarjeta Crédito</option>
                <option value="4" {% if pago.metodo_pago == 4 %}selected{% endif %}>Tarjeta Débito</option>
                <option value="5" {% if pago.metodo_pago == 5 %}selected{% endif %}>Cheque</option>
            </select>
        </div>
          <div class="mb-3">
            <label class="form-label">Notas</label>
            <textarea class="form-control" name="notas" id="editarNotas" rows="2"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label">Comprobante (opcional)</label>
            <input type="file" class="form-control" name="comprobante">
          </div>
          <div class="col-12">
            <div class="mb-3">
                <label for="naturaleza" class="form-label">Naturaleza</label>
                <select name="naturaleza" id="naturaleza" class="form-select form-control" required>
                    <option value="1">Egreso</option>
                    <option value="2">Ingreso</option>
                </select>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Tarifa</label>
            <input type="number" class="form-control" name="tarifa" id="tarifa" required>
          </div>
          <div class="mb-3 col-md-4">
            <label class="form-label">Es gasto</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="True" id="es_gasto" name="es_gasto">
                <label class="form-check-label" for="es_gasto">
                    Es gasto
                </label>
            </div>
          </div>
          <div class="mb-3 col-md-4">
            <label class="form-label">IVA</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="True" id="IVA" name="IVA">
                <label class="form-check-label" for="IVA">
                    IVA
                </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Guardar cambios</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal de Confirmación de Eliminación -->
<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form method="post" action="{% url 'eliminar_pago' %}">
        {% csrf_token %}
        <input type="hidden" name="pago_id" id="inputTramiteIdEliminar">
        <div class="modal-content">
          <div class="modal-header bg-danger text-white">
            <h5 class="modal-title" id="modalEliminarLabel">Confirmar eliminación</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
          </div>
          <div class="modal-body">
            ¿Estás seguro de que deseas eliminar este pago? Esta acción no se puede deshacer.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger">Eliminar</button>
          </div>
        </div>
    </form>
  </div>
</div>

<script>
  const modalEliminar = document.getElementById('modalEliminar');
  modalEliminar.addEventListener('show.bs.modal', function (event) {
    const button = event.relatedTarget;
    const tramiteId = button.getAttribute('data-pago-id');
    const input = document.getElementById('inputTramiteIdEliminar');
    input.value = tramiteId;
  });
</script>

<!-- Script para llenar el modal -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
    var modal = document.getElementById('editarPagoModal');
    modal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;

        document.getElementById('editarPagoId').value = button.getAttribute('data-id');
        document.getElementById('editarMonto').value = button.getAttribute('data-monto');
        document.getElementById('editarFecha').value = convertirFecha(button.getAttribute('data-fecha'));
        document.getElementById('editarMetodoPago').value = button.getAttribute('data-metodo_pago');
        document.getElementById('editarNotas').value = button.getAttribute('data-notas') || '';
        document.getElementById('tarifa').value = button.getAttribute('data-tarifa') * 100;

        const ivaValue = button.getAttribute('data-iva');
        document.getElementById('IVA').checked = (ivaValue === 'True');

        const gastoValue = button.getAttribute('data-es-gasto');
        document.getElementById('es_gasto').checked = (gastoValue === 'True');

        var naturalezaValue = button.getAttribute('data-naturaleza');
        if(naturalezaValue){
          document.getElementById('naturaleza').value = naturalezaValue;
        }
        });
    });

    function convertirFecha(fechaTexto) {
        const date = new Date(fechaTexto);
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0'); // meses empiezan en 0
        const day = String(date.getDate()).padStart(2, '0');
        return `${year}-${month}-${day}`;
    }
</script>

<script>
//FORMATO MONEDA
  function formatearCeldasMonetarias(clase) {
        const elementos = document.querySelectorAll(`.${clase}`);
        elementos.forEach(el => {
            const rawText = el.textContent.trim().replace(/[^\d.-]/g, '');
            const valor = parseFloat(rawText);

            if (!isNaN(valor)) {
                const valorFormateado = valor.toLocaleString("es-MX", {
                    style: "currency",
                    currency: "MXN",
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2,
                });
                el.textContent = valorFormateado;
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        formatearCeldasMonetarias('monetario');
    });
</script>

{% endblock %}
