{% extends "dashboard.html" %}

{% block title %}Pagos{% endblock %}

{% block content %}
    <div class="mt-4">
        <ul class="nav-menu" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a href="{% url 'pagos' %}" class="nav-link d-flex align-items-center gap-2 {% if tab_activa == 'pagos' %}active{% endif %}" id="home-tab" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="{% if tab_activa == 'pagos' %}true{% else %}false{% endif %}">
                    <i class="fas fa-briefcase"></i> Pagos
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{% url 'lista_pagos' %}" class="nav-link d-flex align-items-center gap-2 {% if tab_activa == 'lista_pagos' %}active{% endif %}" id="profile-tab" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="{% if tab_activa == 'lista_pagos' %}true{% else %}false{% endif %}">
                    <i class="fas fa-list-alt"></i> Registro de pagos
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{% url 'nuevo_pago' %}" class="nav-link d-flex align-items-center gap-2 {% if tab_activa == 'nuevo_pago' %}active{% endif %}" id="contact-tab" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="{% if tab_activa == 'nuevo_pago' %}true{% else %}false{% endif %}">
                    <i class="fas fa-plus-circle"></i> Nuevo Pago
                </a>
            </li>
        </ul>
    </div>
    <div class="content-wrapper mt-4">
        {% block pagos_content %}
            <!-- Dashboard -->
            <section class="mb-5">
                <div class="row g-4 justify-content-center">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6 mb-4">
                                <div class="dashboard-card">
                                    <div class="dashboard-body">
                                        <div class="dashboard-title" id="kpiProyectosActivos">{{ total_pagos }}</div>
                                        <div class="subtitle">Pagos Totales</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="dashboard-card">
                                    <div class="dashboard-body">
                                        <div class="dashboard-title" id="kpiIngresosTotales">{{ pagos_mes }}</div>
                                        <div class="subtitle">Pagos del mes ({{ nombre_mes }})</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-4">
                            <div class="dashboard-card">
                                <div class="dashboard-body">
                                    <div class="dashboard-title monetario" id="kpiTotalCobrado">{{ monto_promedio_pago }}</div>
                                    <div class="subtitle">Monto promedio</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-4">
                            <div class="dashboard-card">
                                <div class="dashboard-body">
                                    <div class="dashboard-title monetario" id="kpiProyectosCompletados">{{ pago_minimo }}</div>
                                    <div class="subtitle">Pago mínimo registrado ({{ nombre_mes }})</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-4">
                            <div class="dashboard-card">
                                <div class="dashboard-body">
                                    <div class="dashboard-title monetario" id="kpiProyectosCompletados">{{ pago_maximo }}</div>
                                    <div class="subtitle">Pago máximo registrado ({{ nombre_mes }})</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card shadow-sm dashboard-card">
                            <div class="card-header fw-bold dashboard-title" style="font-size: 26px !important;">
                                Calendario de pagos
                            </div>
                            <div class="card-body">
                                <div id="calendar" class="border p-3 bg-white shadow-sm rounded"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
   </div>
</div>

<script>
//CALENDARIO
document.addEventListener('DOMContentLoaded', function () {
    const calendarEl = document.getElementById('calendar');

    const calendar = new FullCalendar.Calendar(calendarEl, {
        locale: 'es',
        initialView: 'dayGridMonth',
        height: 'auto',
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,listMonth'
        },
        buttonText: {
            today: 'Hoy',
            month: 'Mes',
            week: 'Semana',
            day: 'Día',
            list: 'Lista'
        },
        events: {{ eventos_json|safe }},
        eventClick: function(info) {
            alert("Trámite: " + info.event.title + "\nFecha fin: " + info.event.startStr);
        }
    });

    calendar.render();
});
</script>

<script>
//FORMATO MONEDA
  function formatearCeldasMonetarias(clase) {
        const elementos = document.querySelectorAll(`.${clase}`);
        elementos.forEach(el => {
            const rawText = el.textContent.trim().replace(/[^\d.-]/g, '');
            const valor = parseFloat(rawText);

            if (!isNaN(valor)) {
                const valorFormateado = valor.toLocaleString("es-MX", {
                    style: "currency",
                    currency: "MXN",
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2,
                });
                el.textContent = valorFormateado;
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        formatearCeldasMonetarias('monetario');
    });
</script>
{% endblock %}
