
.content-wrapper{
    width: 90%;
    margin: auto;
    padding: 10px;
}
h1 {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: #141E61 ;
}

.row {
    padding: 20px;
    margin: 0 0 10px 0;
}
.form-control {
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: none;
    margin-bottom: 8px;
}